.hackmerced-tower {
    position: fixed;
    bottom: -600px;
    left: 70px;
    z-index: 1000;
    animation: pop-up .8s ease-in-out forwards;
}

@keyframes pop-up {
    100% {
        bottom: 0px;
    }
}

.main-page-contian-panels {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.main-page-countdown-panel {
    position: relative;
    right: 225px;
    top: 25px;
    width: 500px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-announcment-panel {
    position: relative;
    left: 225px;
    bottom: 20px;
    width: 500px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.panel-text {
    z-index: 1001;
}

.panel-text h1 {
    margin: 0;
    padding: 0;
}

.contain-announcments {
    height: 200px;
}

.contain-announcments p {
    background: #AB58FF;
}