.hackmerced-tower {
    position: fixed;
    bottom: -600px;
    left: 70px;
    animation: pop-up .8s ease-in-out forwards;
    z-index: 1000;
}

@keyframes pop-up {
    100% {
        bottom: -10px;
    }
}

.main-page-contian-panels {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.main-page-countdown-panel {
    position: relative;
    right: 225px;
    top: 25px;
    width: 500px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-announcment-panel {
    position: relative;
    left: 225px;
    bottom: 20px;
    width: 500px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1004;
}

.panel-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.panel-text {
    z-index: 1001;
}

.panel-text h1 {
    margin: 0;
    padding: 0;
}

.panel-text h2 {
    font-size: 44px;
    margin: 0;
    padding: 0;
}

.contain-announcments {
    height: 200px;
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contain-announcments h3 {
    background: #AB58FF;
    font-size: 24px;
}

.purlple-medium-panel {
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 998;
    animation: haptics 1s 0.5s ease-in-out infinite;
}

.darkpurlple-small-panel {
    position: absolute;
    top: -40px;
    left: -40px;
    animation: haptics2 1s 0.7s ease-in-out infinite;
}

@keyframes haptics {
    0% {
        top: -25px;
        left: -25px;
    }
    25% {
        top: -20px;
        left: -20px;
    }
    50% {
        top: -20px;
        left: -20px;
    }
    100% {
        top: -20px;
        left: -20px;
    }
}

@keyframes haptics2 {
    0% {
        top: -45px;
        left: -45px;
    }
    25% {
        top: -40px;
        left: -40px;
    }
    50% {
        top: -40px;
        left: -40px;
    }
    100% {
        top: -40px;
        left: -40px;
    }
}