.NavBar {
    background-color: none; 
}

.nav-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
}

.navbarLeft{
    height: 3.92rem;
}
.nav-items .button {
    background: #422162;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    border-radius: 0rem;
    transition: background 0.4s;
    list-style-type: none;
}

.dropdown-menu{
    padding-left: 0;
    position: absolute;
}

.nav-items .button:hover {
    background: #663399;
    /* outline: 0.1rem solid #422162; */
}


.navflair{
    height: 5.1rem;
    margin-left: -0.3rem;
    margin-right: -0.38rem;

}

.navbarRight{
    height: 3.92rem;
}

@media screen and (min-width: 300px) and (max-width: 880px) {

    .nav-items .button{
        display: none;
    }

    #profile-button {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .navflair{
        display: none;
    }
    .navbarLeft{
        display: none;
    }
    .navbarRight{
        display: none;
    }
}