.NavBar {
    background-color: none; 
}

.nav-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
}

.navbarLeft{
    height: 3.92rem;
}
.nav-items .button {
    background: #422162;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    border-radius: 0rem;
    transition: background 0.4s;
}

.nav-items .button:hover {
    background: #663399;
    /* outline: 0.1rem solid #422162; */
}


.navflair{
    height: 5.1rem;
    margin-left: -0.3rem;
    margin-right: -0.38rem;

}

.navbarRight{
    height: 3.92rem;
}

@media screen and (min-width: 300px) and (max-width: 880px) {
    .nav-items {
        display: grid;  
        grid-template-columns: 8rem 8rem 8rem;  
        grid-template-rows: 4rem 4rem;  
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    .nav-items .button{
        width: 8rem;
        height: 4rem;
    }
    /* Specific styling for the last "Profile" button to go on its own row */
    #profile-button {
        /* border: red solid 3px; */
        /* grid-area: 3 / 1 / 4 / 2; */
        grid-area: 1 / 4 / 2 / 5;
    }

    .navflair{
        grid-area: 2 / 2 / 4 / 5;
        transform: translateY(-0.6rem);
        height: 5.2rem;
    }
    .navbarLeft{
        display: none;
    }
    .navbarRight{
        height:4rem;
        transform: translate(-5.7rem, -0.6rem);
        grid-area: 2 / 3 / 4 / 5;
    }
}