
.profile-div{
    /* outline: purple solid 5px; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}


.profile-title-container-wrapper {
    filter: drop-shadow(1rem 1rem 0rem #FF55FF);
}

.profile-title-container {
    padding-left: 2em;
    padding-right: 2em;
    height: auto;
    margin-bottom: 2rem;
    background-color: #422162;
    display: inline-flex;
    align-self: center;
    border-radius: 0;
    clip-path: polygon(
        0 20%,
        10% 0,
        100% 0,
        100% 80%,
        88% 100%,
        0% 100%
    );
    
    font-size: 0.8em;
}

.points-container{
    /* outline: blue 3px solid; */
    position: relative;
    margin-bottom: -3.5rem;
    z-index: -1;
}

.profile-points-panel{
    display: block;
    position: relative;
    width: 20rem;
    /* outline: 3px red solid; */
    z-index: -1;
}
.profile-points-panel-mobile{
    display: none;
}
.points-title{
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.points-value{
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}


.profile-update-container{
    /* outline: green solid 3px; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.4rem;
    font-size: clamp(1.2em, 1.2vw, 3vw);
    z-index: 1;
}



.profile-update-panel{
    display: block;
    position: relative;
    width: 40rem;
    /* outline: 3px red solid; */
    z-index: 0;
}
.profile-update-panel-mobile{
    display: none;
}

.profile-title{
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translate(-50%);
    /* outline: blue 3px solid; */
    width: 100%;
}

.form {
    position: absolute;
    top: 10rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; 
    /* Adjust to fit your design */
    align-items: center;
}
.form-sections {
    display: flex;
    justify-content: space-between;
    gap: 4rem; /* Space between the sections */
    /* outline: red solid 3px; */
}

.credentials, .profile-update-section {
    flex: 1; /* Take equal space */
}
  
.credentials input, .profile-update-section input {
  /* width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px; */
  margin-bottom: 0.4rem;
  border: #422162 solid 3px;
  border-radius: 10px;
  background-color: #C0FCFF;
  padding :.5em;
  font-weight: 1000;
  width :80%;
  color :#663399;
  font-size: 1em;
}
.form-sections input::placeholder{
    /* color: #422162; */
    font-weight: 700;
}


.file-upload-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 1rem;
    margin-bottom: 2rem;
    gap: 1rem;
    height: 3rem;
}

.upload {
    display: none; 
}

.profile-preview {
    display: block;
    width: 6rem; 
    height: 6rem; 
    border-radius: 50%; 
    border: 2px solid #FFA052; 
}
  

.upload-label {
    display: inline-block;
    background-color: #FFA052;
    color: #422162;
    font-weight: 1000;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
    border-radius: 0px;
    text-align: center;
    cursor: pointer;
    clip-path: polygon(
        0 20%,
        10% 0,
        100% 0,
        100% 85%,
        90% 100%,
        0% 100%
    );
    transition: background-color 0.3s ease;
}

.upload-label:hover {
    background-color: #FF873E; 
}


.profile-button{
    background-color: #FFA052;
    color :#422162 ;
    font-weight: 1000;
    border-radius: 0%;
    font-size: 1.2em;
    clip-path: polygon(
        0 20%,
        10% 0,
        100% 0,
        100% 80%,
        90% 100%,
        0% 100%
    );
}

.profile-button:hover {
    background-color: #FF873E; 
}


.voucher-container{
    position: relative;
    margin-top: -0.8rem;
    z-index: 0;
}

.profile-voucher-panel-mobile{
    display: none;
}
.profile-voucher-panel{
    display: block;
    position: relative;
    top: -6rem;
    width: 30rem;
    z-index: -2;
    /* outline: 3px red solid; */
}

.voucher-title{
    position: absolute;
    top: 3.8rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 100%;
    font-size: 2.5em;
}

.voucher-form{
    position: absolute;
    top: 9.8rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 19;
}
.voucher-form button{
    margin-top: 0.3rem;
    z-index: 20;
}

.voucher-form input{
    margin-bottom: 0.4rem;
    border: #422162 solid 3px;
    border-radius: 10px;
    background-color: #C0FCFF;
    padding :.5em;
    font-weight: 1000;
    width :80%;
    color :#663399;
    font-size: 1em;
    z-index: 20;
}

/* Viewports */
@media screen and (min-width: 380px) and (max-width: 880px) {
    .points-title{
        top: 1rem;
        font-size: 2em;
    }
    .points-value{
        top: 4rem;
        font-size: 2em;
        /* outline: red solid 3px; */
    }

    .voucher-container{
        margin-top: -8vw;
        /* outline: blueviolet solid 8px; */
    }
}
@media screen and (min-width: 300px) and (max-width: 380px) {

    .points-container{
        /* outline: blue 3px solid; */
        margin-bottom: -2.8rem;
        
    }
    
    .profile-points-panel{
        left: 50%;
        transform: translate(-50%);
        width: 60%;
        /* outline: 3px red solid; */
    }
 
    .points-title{
        top: 0rem;
        font-size: 2em;
        font-size: clamp(1.5vw, 8vw, 10vw);
    }
    .points-value{
        top: 1.5rem;
        margin-top: 2.5rem;
        font-size: 2em;
        font-size: clamp(1.5vw, 6vw, 10vw);
    }




    .profile-update-container{
        height: 52vh;
        font-size:0.8em;
        font-size: clamp(0.01em, 3vw, 100rem);
        /* outline: red solid 3px; */
        margin-bottom: 4.6rem;
    }

    .profile-update-panel-mobile{
        display: block;
        position: relative;
        width: 100%;
        /* outline: 3px red solid; */
        z-index: -1;
    }
    .profile-update-panel{
        display: none;
    }
    .profile-title{
        top: 1rem;
        /* outline: red solid 3px; */
        width: 100%;
        font-size: clamp(1.4rem, 3vw, 5em);
    }

    .form {
        top: 4rem;
        width: 80%;
        left: 45%;
        transform: translate(-50%);
        /* Adjust to fit your design */
        align-items: center;
    }
    .form-sections {
        gap: 3em;  /*gap between the columns*/
    }
    .credentials input, .profile-update-section input {
        margin-bottom: 0.2rem;
        border: #422162 solid 3px;
        border-radius: 10px;
        background-color: #C0FCFF;
        padding: 0.4em;
        font-weight: 1000;
        width: 110%;
        color :#663399;
        font-size: 1em;
    }

    .file-upload-container{
        left: 1rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        gap: 1rem;
        height: 3rem;
        /* outline: 3px green solid; */
    }
    .upload-label {
        /* border: red solid 5px; */
        font-weight: 1000;
        padding: 0rem 0.5rem;
        font-size: 0.8em;
    }
    .profile-preview {
        display: block;
        width: 3rem; 
        height: 3rem; 
        border-radius: 50%; 
        object-fit: cover; 
        border: 2px solid #FFA052; 
    }
    .profile-button{
        margin-top: 0.5rem;
    }


    .voucher-container{
        position: relative;
        /* margin-top: -36vw; */
        /* margin-top: -8vw; */
        /* margin-top: 38vw; */
        /* margin-top: clamp(-36vw, -8vw, 38vw); */
        margin-top: -16vw;
        margin-bottom: 1rem;
        z-index: 0;
        /* outline: burlywood solid 8px; */
    }
    
    .profile-voucher-panel{
        left: 50%;
        transform: translate(-50%);
        margin-top: 0rem;
        width: 60%;
        /* outline: 3px red solid; */
    }
    
    .voucher-title{
        top: -5%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        width: 100%;
        font-size: 1em;
        font-size: clamp(1rem, 2.5vw, 5em);
    }
    
    .voucher-form{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%);
        z-index: 8;
        font-size: 0.5em;
        font-size: clamp(0.5rem, 2vw, 5em);
    }
    .voucher-form button{
        margin-top: 0.3rem;
        font-size: 1.2em;
    }
    
    .voucher-form input{
        margin-bottom: 0.4rem;
        border: #422162 solid 3px;
        border-radius: 10px;
        background-color: #C0FCFF;
        padding :.5em;
        font-weight: 1000;
        width :80%;
        color :#663399;
    }
    
    

}






/* Extra extra small devices (very small phones, 480px and down) */
@media (max-width: 375px) {
    .voucher-container{
        margin-top: -8vw;
        /* outline: red solid 3px; */
    }
    .voucher-title{
        top: -15%;
        
    }
    .voucher-form{
        top: 5%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 481px) and (max-width: 600px) {
    .voucher-container{
        margin-top: -8vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media (min-width: 601px) and (max-width: 768px) {
    .voucher-container{
        margin-top: -8vw;
    }
}

@media (min-width: 768px) and (max-width: 880px) {
    .voucher-container{
        margin-top: -8vw;
    }
}

@media (max-height: 568px) and (max-width: 320px){
    .voucher-container{
        margin-top: -8vw;
    }
    .voucher-title{
        top: -25%;
        
    }
    
    .voucher-form{
        top: -5%;
    }
}
